<footer>
    <div class="footer-content">
        <p>&copy; <%= new Date().getFullYear() %> Blog Ninja | All Rights Reserved</p>
    </div>
</footer>


<style>
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    </style>