<!-- filepath: /C:/Users/91705/Desktop/Node Crash Course/views/partials/Head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blog Ninja</title>
<link rel="stylesheet" href="/css/styles.css">