<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/Head.ejs') %>
</head>
<body>
    <%- include('partials/Navbar.ejs') %>
    <header>
        <h1>OOPS! Error 404</h1>
    </header>
    <main>
        <p>Page Not Found</p>
    </main>


    <%- include('partials/Footer.ejs') %>
</body>
</html>