<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/Head.ejs') %>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            margin: 10px 0;
        }
        input, textarea {
            width: 50%;
            padding: 10px;
            margin: 10px 0;
        }
        </style>
</head>
<body>
    <%- include('partials/Navbar.ejs') %>

    <form>
        <label class="title" for="title">Title</label>
        <input type="text" id="title" name="title" required>
        <label class="snippet" for="snippet">Snippet</label>
        <input type="text" id="snippet" name="snippet" required>
        <label class="body" for="body">Body</label>
        <textarea id="body" name="body" required></textarea>
        <button type="submit">Create Blog</button>
        </form>

        <%- include('partials/Footer.ejs') %>
</body>


</html>